<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/addUser.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User Page</title>
    <script th:src="@{/js/addUser.js}" defer></script>
</head>
<body>
<form th:action="@{/user/create}" th:object="${newUser}" method="post">
    <div class="field-group">
        <label class="field">login name</label>
    </div>
    <span class="note">*</span>
    <div class="input-group">
        <input type="text" id="login-name" th:field="*{loginName}" required />
        <span class="note">(Alphanumeric)</span>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">password</label>
    </div>
    <span class="note">*</span>
    <div class="input-group">
        <input type="password" id="password" th:field="*{password}" required />
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Password (for confirmation)</label>
    </div>
    <span class="note">*</span>
    <div class="input-group">
        <input type="password" id="repassword" th:field="*{checkPassword}" required />
    </div>
    <hr />
    <div class="field-group">
        <label class="field">name</label>
    </div>
    <span class="note">*</span>
    <div class="input-group">
        <input type="text" id="fname" th:field="*{firstName}" required />
        <input type="text" id="lname" th:field="*{lastName}" required />
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Name: (Furigana)</label>
    </div>
    <span class="note">*</span>
    <div class="input-group">
        <input type="text" id="fname-kana" th:field="*{firstNameFurigana}" required />
        <input type="text" id="lname-kana" th:field="*{lastNameFurigana}" required />
    </div>
    <hr />
    <div class="field-group">
        <label class="field">mail address</label>
    </div>
    <div class="input-group">
        <input type="text" id="mail" th:field="*{mailAddress}" />
        <span class="note">(Alphanumeric)</span>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Telephone number (outside line)</label>
    </div>
    <div class="input-group">
        <input type="text" class="tel-input" /> -
        <input type="text" class="tel-input" /> -
        <input type="text" class="tel-input" />
        <span class="note">(Byte numbers)</span>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Telephone number (extension)</label>
    </div>
    <div class="input-group">
        <input type="text" class="phone-input" id="tel-extension" th:field="*{telephoneNumberExtension}" />
        <span class="note">(Hyphen (-) or single-byte number)</span>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Telephone number (mobile)</label>
    </div>
    <div class="input-group">
        <input type="text" class="tel-input" /> -
        <input type="text" class="tel-input" /> -
        <input type="text" class="tel-input" />
        <span class="note">(Byte numbers)</span>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Mobile e-mail address</label>
    </div>
    <div class="input-group">
        <input type="text" id="mobile-mail" th:field="*{mobileEmailAddress}" />
        <span class="note">(Alphanumeric)</span>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Mug shot</label>
    </div>
    <div class="input-group">
        <button class="add-file">Add file</button>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Department</label>
    </div>
    <div class="input-groups">
        Please add the department on the left side.
        <div class="dept-container">
            <table class="dept-table">
                <tr>
                    <th>Department</th>
                    <th>Department List</th>
                </tr>
                <tr class="dept-textarea">
                    <td><input type="text" id="dept-input" /></td>
                    <td><textarea id="dept-list" readonly></textarea></td>
                </tr>
                <tr class="btn-group">
                    <th><button id="deleteButton">Delete</button></th>
                    <th><button id="addButton">Add</button></th>
                </tr>
            </table>
        </div>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Position</label>
    </div>
    <div class="input-groups">
        <select class="pos-select">
            <option>Not specified</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <button class="new-input">The new input</button>
    </div>
    <hr />
    <div class="field-group">
        <label class="field">Administrative priveleges</label>
    </div>
    <div class="input-group">
        <input type="checkbox" id="admin" />
        To administrator
    </div>
    <hr />
    <div class="end-page">
        <button class="submit-btn">Adding</button>
    </div>
</form>
</body>
</html>
